<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="internal.log"
      internalLogLevel="Info" >

  <!-- the targets to write to -->
  <targets>

    <target name="logfile"
            xsi:type="File"
            fileName="${basedir}/logs/Log.${level}.current.txt"
            layout="${longdate}|${level}|${message} | Thread:${threadid}:${threadname} @${callsite} : ${all-event-properties} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/log.${level}.${shortdate}.{#}.txt"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="3" />

    <target name="logstatfile"
            xsi:type="File"
            fileName="${basedir}/logs/Log.statistic.current.txt"
            layout="${longdate}|${message}"
            archiveFileName="${basedir}/logs/statisticarchives/log.statistic.${shortdate}.{###}.txt"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "DateAndSequence"
             />
  
    <target xsi:type="Memory" 
            name="errormemory" 
            MaxLogsCount="10"
            layout="${longdate}|${level}|${callsite} LINE ${callsite-linenumber} Thread:${threadid}:${threadname} MSG: ${message} |  ${all-event-properties} ${exception:format=tostring}" />
    

    <target xsi:type="Console" 
            name="logconsole"
            layout="${longdate}|${level}|${message} | Thread:${threadid}:${threadname} @${callsite} : ${all-event-properties} ${exception:format=tostring}" 
            detectConsoleAvailable="true"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
    <logger name="*" minlevel="Warning" writeTo="errormemory" />
    <logger name="*" level="Debug" writeTo="logstatfile" />
  </rules>
</nlog>